<div class="w-11/12 mx-auto">
  <div class="text-center py-10">
    <h2 class="text-[#2b1b9a] text-4xl leading-[4rem]">
      Path is your virtual photo editing studio
    </h2>
    <p class="text-[#2b1b9a]">
      <span class="font-bold">
        Upload your images and get them back in hours, pixel perfect and ready
        to sell —</span
      >
      the size you need, the <br />
      format you need. You don’t even have to think about it.
    </p>
  </div>
  <div
    class="grid md:grid-cols-3 lg:grid-cols-4 gap-16 p-16 justify-center items-center"
  >
    <img
      src="https://pathedits.com/cdn/shop/t/4/assets/service-red.png?v=38573139484116999941632584102"
      alt="clip Image"
    />
    <img
      src="https://pathedits.com/cdn/shop/t/4/assets/service-violet.png?v=141660833224875382331632584102"
      alt="clip Image"
    />
    <img
      src="https://pathedits.com/cdn/shop/t/4/assets/service-yellow.png?v=134812319060934510361632584102"
      alt="clip Image"
    />
    <img
      src="https://pathedits.com/cdn/shop/t/4/assets/service-cyan.png?v=81924604197080887041644625056"
      alt="clip Image"
    />
  </div>
</div>
