<section class="py-8 mb-8 w-11/12 mx-auto">
  <p class="text-2xl mb-10 text-[#2b1b9a] text-center">
    Our <span class="font-bold">most popular</span> photo-editing services
  </p>
  <!-- Component: Carousel with controls outside -->
  <div class="relative w-full glide-04">
    <!-- Slides -->
    <div class="overflow-hidden" data-glide-el="track">
      <ul
        class="relative w-full overflow-hidden p-0 whitespace-no-wrap flex flex-no-wrap [backface-visibility: hidden] [transform-style: preserve-3d] [touch-action: pan-Y] [will-change: transform]"
      >
        <li>
          <div class="grid md:grid-cols-2 justify-center items-center">
            <div>
              <img
                src="https://pathedits.com/cdn/shop/files/product-camera-yellow_290x.png?v=1628117059"
                class="max-w-full max-h-full m-auto h-72 w-72"
              />
            </div>
            <div>
              <div class="relative flex flex-col items-start">
                <h1
                  class="text-4xl font-bold leading-tight dark:text-gray-300 uppercase"
                >
                  Photo <span class="text-blue-600">Retouching</span>
                </h1>
                <div class="flex w-24 mt-1 mb-10 overflow-hidden rounded">
                  <div class="flex-1 h-2 bg-blue-200"></div>
                  <div class="flex-1 h-2 bg-blue-400"></div>
                  <div class="flex-1 h-2 bg-blue-600"></div>
                </div>
              </div>

              <p class="text-sm text-gray-800 mb-3">
                Get the perfect shot, even after the fact. Correct flaws or
                imperfections, and make every element of your image shine. Put
                your images on any background color or setting
              </p>
              <p class="text-base font-bold">Starting at 69¢ per image</p>
            </div>
          </div>
        </li>

        <li>
          <div class="grid md:grid-cols-2 justify-center items-center">
            <div>
              <img
                src="https://pathedits.com/cdn/shop/files/product-1-red-shoe_290x.png?v=1628116666"
                class="max-w-full max-h-full m-auto h-72 w-72"
              />
            </div>
            <div>
              <div class="relative flex flex-col items-start">
                <h1
                  class="text-4xl font-bold leading-tight dark:text-gray-300 uppercase"
                >
                  Clipping <span class="text-blue-600">Path</span>
                </h1>
                <div class="flex w-24 mt-1 mb-10 overflow-hidden rounded">
                  <div class="flex-1 h-2 bg-blue-200"></div>
                  <div class="flex-1 h-2 bg-blue-400"></div>
                  <div class="flex-1 h-2 bg-blue-600"></div>
                </div>
              </div>

              <p class="text-sm text-gray-800 mb-3">
                Hand-drawn clipping paths give you crisp, clean cutouts that you
                can put on any background. Put your images on any background
                color or setting
              </p>
              <p class="text-base font-bold">Starting at 39¢ per image</p>
            </div>
          </div>
        </li>

        <li>
          <div class="grid md:grid-cols-2 justify-center items-center">
            <div>
              <img
                src="https://pathedits.com/cdn/shop/files/product-8_290x.png?v=1628116738"
                class="max-w-full max-h-full m-auto h-72 w-72"
              />
            </div>
            <div>
              <div class="relative flex flex-col items-start">
                <h1
                  class="text-4xl font-bold leading-tight dark:text-gray-300 uppercase"
                >
                  Background <span class="text-blue-600">Removal</span>
                </h1>
                <div class="flex w-24 mt-1 mb-10 overflow-hidden rounded">
                  <div class="flex-1 h-2 bg-blue-200"></div>
                  <div class="flex-1 h-2 bg-blue-400"></div>
                  <div class="flex-1 h-2 bg-blue-600"></div>
                </div>
              </div>

              <p class="text-sm text-gray-800 mb-3">
                RemovalMake product photos pop with a clean white (or any other
                color you choose) background. Put your images on any background
                color or setting
              </p>
              <p class="text-base font-bold">Starting at 39¢ per image</p>
            </div>
          </div>
        </li>

        <li>
          <div class="grid md:grid-cols-2 justify-center items-center">
            <div>
              <img
                src="https://pathedits.com/cdn/shop/files/product-9_290x.png?v=1628116871"
                class="max-w-full max-h-full m-auto h-72 w-72"
              />
            </div>
            <div>
              <div class="relative flex flex-col items-start">
                <h1
                  class="text-4xl font-bold leading-tight dark:text-gray-300 uppercase"
                >
                  Image <span class="text-blue-600">Masking</span>
                </h1>
                <div class="flex w-24 mt-1 mb-10 overflow-hidden rounded">
                  <div class="flex-1 h-2 bg-blue-200"></div>
                  <div class="flex-1 h-2 bg-blue-400"></div>
                  <div class="flex-1 h-2 bg-blue-600"></div>
                </div>
              </div>

              <p class="text-sm text-gray-800 mb-3">
                For more intricate shots (like anything involving hair or fur),
                image masking gives you that extra level of precision, for
                cutouts that look completely natural. Put your images on any
                background color or setting
              </p>
              <p class="text-base font-bold">Starting at $1.19 per image</p>
            </div>
          </div>
        </li>
        <li>
          <div class="grid md:grid-cols-2 justify-center items-center">
            <div>
              <img
                src="https://pathedits.com/cdn/shop/files/product-10_290x.png?v=1628116811"
                class="max-w-full max-h-full m-auto h-72 w-72"
              />
            </div>
            <div>
              <div class="relative flex flex-col items-start">
                <h1
                  class="text-4xl font-bold leading-tight dark:text-gray-300 uppercase"
                >
                  Shadow <span class="text-blue-600">Masking</span>
                </h1>
                <div class="flex w-24 mt-1 mb-10 overflow-hidden rounded">
                  <div class="flex-1 h-2 bg-blue-200"></div>
                  <div class="flex-1 h-2 bg-blue-400"></div>
                  <div class="flex-1 h-2 bg-blue-600"></div>
                </div>
              </div>

              <p class="text-sm text-gray-800 mb-3">
                Natural-looking shadows make products look more realistic — and
                generate more sales. Add depth and make your images more
                visually appealing. Put your images on any background color or
                setting
              </p>
              <p class="text-base font-bold">Starting at 25¢ per image</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <!-- Controls -->
    <div
      class="flex items-center justify-center w-full gap-2 p-4"
      data-glide-el="controls"
    >
      <button
        class="inline-flex items-center justify-center w-8 h-8 transition duration-300 border rounded-full lg:w-12 lg:h-12 text-slate-700 border-slate-700 hover:text-slate-900 hover:border-slate-900 focus-visible:outline-none bg-white/20"
        data-glide-dir="<"
        aria-label="prev slide"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-5 h-5"
        >
          <title>prev slide</title>
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18"
          />
        </svg>
      </button>
      <button
        class="inline-flex items-center justify-center w-8 h-8 transition duration-300 border rounded-full lg:w-12 lg:h-12 text-slate-700 border-slate-700 hover:text-slate-900 hover:border-slate-900 focus-visible:outline-none bg-white/20"
        data-glide-dir=">"
        aria-label="next slide"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-5 h-5"
        >
          <title>next slide</title>
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"
          />
        </svg>
      </button>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.0.2/glide.js"></script>

  <script>
    var glide04 = new Glide(".glide-04", {
      type: "carousel",
      focusAt: "center",
      perView: 1,
      autoplay: 3500,
      animationDuration: 700,
      gap: 24,
      classes: {
        activeNav: "[&>*]:bg-slate-700",
      },
      breakpoints: {
        1024: {
          perView: 2,
        },
        640: {
          perView: 1,
        },
      },
    });

    glide04.mount();
  </script>
  <!-- End Carousel with controls outside -->
</section>
