<section class="mb-10">
  <p class="text-2xl py-10 text-[#2b1b9a] text-center">
    All our <span class="font-bold">photo-editing</span> services
  </p>

  <div class="md:w-9/12 mx-auto">
    <div class="grid md:grid-cols-2 gap-8">
      <div
        href="#"
        class="group relative block overflow-hidden border rounded-3xl shadow-md w-11/12 mx-auto cursor-pointer p-8"
      >
        <button
          class="absolute end-4 top-4 z-10 rounded-full bg-white p-1.5 text-gray-900 transition hover:text-gray-900/75"
        >
          <span class="sr-only">Wishlist</span>

          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-4 w-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"
            />
          </svg>
        </button>

        <img
          src="https://pathedits.com/cdn/shop/files/product-1-red-shoe_255x192.png?v=1628116666"
          alt=""
          class="mx-auto w-48 object-contain transition duration-500 group-hover:scale-105 sm:h-72"
        />

        <div class="relative border rounded-3xl bg-white p-6">
          <span
            class="whitespace-nowrap bg-yellow-400 px-3 py-1.5 text-xs font-medium"
          >
            New
          </span>

          <h3 class="mt-4 text-lg font-medium text-gray-900">Clipping Path</h3>
          <p class="text-sm">
            Hand-drawn clipping paths give you crisp, clean cutouts that you can
            put on any background.
          </p>

          <p class="mt-1.5 text-base font-bold text-gray-700">
            Starting at 39¢ per image
          </p>

          <form class="mt-4 flex gap-4">
            <button
              class="block w-full rounded bg-blue-600 text-white p-4 text-sm font-medium transition hover:scale-105"
            >
              View Details
            </button>
            <button
              class="block w-full rounded bg-green-400 text-white p-4 text-sm font-medium transition hover:scale-105"
            >
              Add to Cart
            </button>
          </form>
        </div>
      </div>

      <div
        href="#"
        class="group relative block overflow-hidden border rounded-3xl shadow-md w-11/12 mx-auto cursor-pointer p-8"
      >
        <button
          class="absolute end-4 top-4 z-10 rounded-full bg-white p-1.5 text-gray-900 transition hover:text-gray-900/75"
        >
          <span class="sr-only">Wishlist</span>

          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-4 w-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"
            />
          </svg>
        </button>

        <img
          src="https://pathedits.com/cdn/shop/files/product-1-red-shoe_255x192.png?v=1628116666"
          alt=""
          class="mx-auto w-48 object-contain transition duration-500 group-hover:scale-105 sm:h-72"
        />

        <div class="relative border rounded-3xl bg-white p-6">
          <span
            class="whitespace-nowrap bg-yellow-400 px-3 py-1.5 text-xs font-medium"
          >
            New
          </span>

          <h3 class="mt-4 text-lg font-medium text-gray-900">Clipping Path</h3>
          <p class="text-sm">
            Hand-drawn clipping paths give you crisp, clean cutouts that you can
            put on any background.
          </p>

          <p class="mt-1.5 text-base font-bold text-gray-700">
            Starting at 39¢ per image
          </p>

          <form class="mt-4 flex gap-4">
            <button
              class="block w-full rounded bg-blue-600 text-white p-4 text-sm font-medium transition hover:scale-105"
            >
              View Details
            </button>
            <button
              class="block w-full rounded bg-green-400 text-white p-4 text-sm font-medium transition hover:scale-105"
            >
              Add to Cart
            </button>
          </form>
        </div>
      </div>

      <div
        href="#"
        class="group relative block overflow-hidden border rounded-3xl shadow-md w-11/12 mx-auto cursor-pointer p-8"
      >
        <button
          class="absolute end-4 top-4 z-10 rounded-full bg-white p-1.5 text-gray-900 transition hover:text-gray-900/75"
        >
          <span class="sr-only">Wishlist</span>

          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-4 w-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"
            />
          </svg>
        </button>

        <img
          src="https://pathedits.com/cdn/shop/files/product-1-red-shoe_255x192.png?v=1628116666"
          alt=""
          class="mx-auto w-48 object-contain transition duration-500 group-hover:scale-105 sm:h-72"
        />

        <div class="relative border rounded-3xl bg-white p-6">
          <span
            class="whitespace-nowrap bg-yellow-400 px-3 py-1.5 text-xs font-medium"
          >
            New
          </span>

          <h3 class="mt-4 text-lg font-medium text-gray-900">Clipping Path</h3>
          <p class="text-sm">
            Hand-drawn clipping paths give you crisp, clean cutouts that you can
            put on any background.
          </p>

          <p class="mt-1.5 text-base font-bold text-gray-700">
            Starting at 39¢ per image
          </p>

          <form class="mt-4 flex gap-4">
            <button
              class="block w-full rounded bg-blue-600 text-white p-4 text-sm font-medium transition hover:scale-105"
            >
              View Details
            </button>
            <button
              class="block w-full rounded bg-green-400 text-white p-4 text-sm font-medium transition hover:scale-105"
            >
              Add to Cart
            </button>
          </form>
        </div>
      </div>

      <div
        href="#"
        class="group relative block overflow-hidden border rounded-3xl shadow-md w-11/12 mx-auto cursor-pointer p-8"
      >
        <button
          class="absolute end-4 top-4 z-10 rounded-full bg-white p-1.5 text-gray-900 transition hover:text-gray-900/75"
        >
          <span class="sr-only">Wishlist</span>

          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-4 w-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"
            />
          </svg>
        </button>

        <img
          src="https://pathedits.com/cdn/shop/files/product-1-red-shoe_255x192.png?v=1628116666"
          alt=""
          class="mx-auto w-48 object-contain transition duration-500 group-hover:scale-105 sm:h-72"
        />

        <div class="relative border rounded-3xl bg-white p-6">
          <span
            class="whitespace-nowrap bg-yellow-400 px-3 py-1.5 text-xs font-medium"
          >
            New
          </span>

          <h3 class="mt-4 text-lg font-medium text-gray-900">Clipping Path</h3>
          <p class="text-sm">
            Hand-drawn clipping paths give you crisp, clean cutouts that you can
            put on any background.
          </p>

          <p class="mt-1.5 text-base font-bold text-gray-700">
            Starting at 39¢ per image
          </p>

          <form class="mt-4 flex gap-4">
            <button
              class="block w-full rounded bg-blue-600 text-white p-4 text-sm font-medium transition hover:scale-105"
            >
              View Details
            </button>
            <button
              class="block w-full rounded bg-green-400 text-white p-4 text-sm font-medium transition hover:scale-105"
            >
              Add to Cart
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
