<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- css -->
    <link rel="stylesheet" href="./styles/style.css" type="text/css" />

    <!-- js -->
    <script src="https://unpkg.com/tailwindcss@^2.0/dist/tailwind.min.js"></script>

    <title>Sheare Your Secrect</title>
  </head>
</html>

<body>
  <!-- Header Section -->
  <header class="mb-24">
    <section
      class="font-poppins dark:bg-gray-800 bg-white opacity-95 shadow-md fixed top-0 left-0 right-0 z-50"
    >
      <div class="w-11/12 px-4 mx-auto" x-data="{open:false}">
        <nav class="relative flex items-center justify-between py-2">
          <a
            href=""
            class="text-3xl font-semibold leading-none dark:text-gray-400"
            ><img
              class="w-16"
              src="https://tailwindui.com/img/logos/workflow-mark-on-white.svg"
              alt=""
          /></a>
          <div class="flex items-center lg:hidden">
            <a href="" class="mr-6 dark:text-gray-400">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="22"
                height="23"
                fill="currentColor"
                class="bi bi-heart"
                viewBox="0 0 16 16"
              >
                <path
                  d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"
                />
              </svg>
            </a>
            <span class="relative inline-block mr-6 dark:text-gray-400">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                fill="currentColor"
                class="bi bi-bell"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"
                />
              </svg>
              <span
                class="absolute top-0 right-0 inline-flex items-center justify-center w-2 h-2 bg-red-600 rounded-full"
              ></span>
            </span>
            <button
              class="flex items-center px-3 py-2 text-blue-600 border border-blue-200 rounded dark:text-gray-400 hover:text-blue-800 hover:border-blue-300 lg:hidden"
              @click="open =true"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-list"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
                />
              </svg>
            </button>
          </div>
          <ul class="hidden lg:w-auto lg:space-x-12 lg:items-center lg:flex">
            <li>
              <a
                href="/"
                class="text-sm text-gray-700 dark:text-gray-400 hover:text-blue-700 dark:hover:text-blue-400"
                >Home</a
              >
            </li>
            <li>
              <a
                href="/about"
                class="text-sm text-gray-700 dark:text-gray-400 hover:text-blue-700 dark:hover:text-blue-400"
                >About us</a
              >
            </li>
            <li>
              <a
                href="/services"
                class="text-sm text-gray-700 dark:text-gray-400 hover:text-blue-700 dark:hover:text-blue-400"
                >Services</a
              >
            </li>
            <li>
              <a
                href="/freeTrail"
                class="text-sm text-gray-700 dark:text-gray-400 hover:text-blue-700 dark:hover:text-blue-400"
                >Free Trail
              </a>
            </li>
            <li>
              <a
                href="/orderNow"
                class="text-sm text-gray-700 dark:text-gray-400 hover:text-blue-700 dark:hover:text-blue-400"
                >Order Now</a
              >
            </li>
            <li>
              <a
                href="/pricing"
                class="text-sm text-gray-700 dark:text-gray-400 hover:text-blue-700 dark:hover:text-blue-400"
                >Pricing</a
              >
            </li>
            <li>
              <a
                href="/contact"
                class="text-sm text-gray-700 dark:text-gray-400 hover:text-blue-700 dark:hover:text-blue-400"
                >Contact Us</a
              >
            </li>
            <li>
              <a
                href="/blogs"
                class="text-sm text-gray-700 dark:text-gray-400 hover:text-blue-700 dark:hover:text-blue-400"
                >Blogs</a
              >
            </li>
          </ul>
          <div
            class="items-center justify-end hidden lg:flex dark:text-gray-400"
          >
            <a href="" class="mr-5">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="22"
                height="23"
                fill="currentColor"
                class="bi bi-heart"
                viewBox="0 0 16 16"
              >
                <path
                  d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"
                />
              </svg>
            </a>
            <span class="relative inline-block mr-5 cursor-pointer">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"
                />
              </svg>

              <span
                class="absolute top-0 right-0 inline-flex items-center justify-center w-2 h-2 bg-red-600 rounded-full"
              ></span>
            </span>
            <a
              href=""
              class="items-center hidden px-4 py-2 font-semibold text-blue-600 border border-blue-200 rounded-md hover:text-gray-100 hover:bg-blue-600 lg:flex dark:text-gray-400 dark:hover:bg-transparent dark:border-gray-300 dark:hover:text-blue-300"
            >
              Sign In
            </a>
          </div>
        </nav>
        <!-- Mobile Sidebar -->
        <div
          class="fixed inset-0 w-full bg-gray-800 opacity-25 dark:bg-gray-400 lg:hidden"
          :class="{'translate-x-0 ease-in-opacity-100' :open===true, '-translate-x-full ease-out opacity-0' : open===false}"
        ></div>
        <div
          class="absolute inset-0 z-10 h-screen p-3 text-gray-700 duration-500 transform shadow-md dark:bg-gray-800 bg-blue-50 w-80 lg:hidden lg:transform-none lg:relative"
          :class="{'translate-x-0 ease-in-opacity-100' :open===true, '-translate-x-full ease-out opacity-0' : open===false}"
        >
          <div class="flex justify-between">
            <a class="p-2 text-2xl font-bold dark:text-gray-400" href="#"
              >Logo</a
            >
            <button
              class="p-2 rounded-md hover:text-blue-300 lg:hidden dark:text-gray-400"
              @click="open=false"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="currentColor"
                class="bi bi-x-circle"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                />
                <path
                  d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
                />
              </svg>
            </button>
          </div>
          <div class="flex items-center px-5 mt-7 lg:hidden">
            <a
              href=""
              class="items-center mr-4 text-sm font-semibold lg:flex dark:text-gray-400"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="23"
                height="23"
                fill="currentColor"
                class="mr-3 bi bi-person"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"
                />
              </svg>
            </a>
            <a href="" class="mr-6 dark:text-gray-400">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="22"
                height="23"
                fill="currentColor"
                class="bi bi-heart"
                viewBox="0 0 16 16"
              >
                <path
                  d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"
                />
              </svg>
            </a>
            <span class="relative inline-block mr-6 dark:text-gray-400">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                fill="currentColor"
                class="bi bi-bell"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"
                />
              </svg>
              <span
                class="absolute top-0 right-0 inline-flex items-center justify-center w-2 h-2 bg-red-600 rounded-full"
              ></span>
            </span>
          </div>
          <ul class="px-5 text-left mt-7">
            <li>
              <a
                href="/"
                class="text-sm text-gray-700 dark:text-gray-400 hover:text-blue-700 dark:hover:text-blue-400"
                >Home</a
              >
            </li>
            <li>
              <a
                href=""
                class="text-sm text-gray-700 dark:text-gray-400 hover:text-blue-700 dark:hover:text-blue-400"
                >About us</a
              >
            </li>
            <li>
              <a
                href=""
                class="text-sm text-gray-700 dark:text-gray-400 hover:text-blue-700 dark:hover:text-blue-400"
                >Services</a
              >
            </li>
            <li>
              <a
                href=""
                class="text-sm text-gray-700 dark:text-gray-400 hover:text-blue-700 dark:hover:text-blue-400"
                >Free Trail
              </a>
            </li>
            <li>
              <a
                href=""
                class="text-sm text-gray-700 dark:text-gray-400 hover:text-blue-700 dark:hover:text-blue-400"
                >Order Now</a
              >
            </li>
            <li>
              <a
                href=""
                class="text-sm text-gray-700 dark:text-gray-400 hover:text-blue-700 dark:hover:text-blue-400"
                >Pricing</a
              >
            </li>
            <li>
              <a
                href=""
                class="text-sm text-gray-700 dark:text-gray-400 hover:text-blue-700 dark:hover:text-blue-400"
                >Contact Us</a
              >
            </li>
            <li>
              <a
                href=""
                class="text-sm text-gray-700 dark:text-gray-400 hover:text-blue-700 dark:hover:text-blue-400"
                >Blog</a
              >
            </li>
          </ul>
        </div>
      </div>
    </section>
    <script
      defer
      src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
  </header>
  <!-- Header Section -->
</body>
