<%-include("../../partials/header")-%>
<section
  class="flex items-center bg-inherit lg:h-screen dark:bg-gray-800 md:mb-52"
>
  <div class="p-4 mx-auto max-w-7xl mt-36">
    <div
      class="grid grid-cols-1 gap-4 lg:gap-8 sm:gap-4 sm:grid-cols-2 lg:grid-cols-3"
    >
      <a
        class="mb-0 overflow-hidden bg-white rounded shadow dark:bg-gray-700"
        href="#"
      >
        <div class="relative overflow-hidden h-96">
          <img
            class="object-cover w-full h-full"
            src="https://i.postimg.cc/j5L5bX2d/pexels-andrea-piacquadio-3757946.jpg"
            alt=""
          />
          <div
            class="absolute bottom-0 left-0 right-0 z-20 p-6 -mt-12 bg-gradient-to-t from-gray-800/70 to-gray-50/0"
          >
            <span
              class="inline-block px-4 py-2 mb-5 text-xs text-white bg-blue-500 rounded"
            >
              Team
            </span>
            <span
              class="block mb-2 text-xs font-semibold text-blue-300 uppercase"
            >
              John Doe • 6th Jun, 2022
            </span>
            <h2 class="text-xl font-bold leading-9 text-white dark:text-white">
              Lorem ipsum dolor sit amet, consectetur
            </h2>
          </div>
        </div>
      </a>
      <a
        class="mb-0 overflow-hidden bg-white rounded shadow dark:bg-gray-700"
        href="#"
      >
        <div class="relative overflow-hidden h-96">
          <img
            class="object-cover w-full h-full"
            src="https://i.postimg.cc/xTy9B753/pexels-christina-morillo-1181605.jpg"
            alt=""
          />
          <div
            class="absolute bottom-0 left-0 right-0 z-20 p-6 -mt-12 bg-gradient-to-t from-gray-800/70 to-gray-50/0"
          >
            <span
              class="inline-block px-4 py-2 mb-5 text-xs text-white bg-blue-500 rounded"
            >
              Metting
            </span>
            <span
              class="block mb-2 text-xs font-semibold text-blue-300 uppercase"
            >
              John Doe • 6th Jun, 2022
            </span>
            <h2 class="text-xl font-bold leading-9 text-white dark:text-white">
              Lorem ipsum dolor sit amet, consectetur
            </h2>
          </div>
        </div>
      </a>
      <a
        class="mb-0 overflow-hidden bg-white rounded shadow dark:bg-gray-700"
        href="#"
      >
        <div class="relative overflow-hidden h-96">
          <img
            class="object-cover w-full h-full"
            src="https://i.postimg.cc/rpbTSLyM/pexels-andrea-piacquadio-3760263.jpg"
            alt=""
          />
          <div
            class="absolute bottom-0 left-0 right-0 z-20 p-6 -mt-12 bg-gradient-to-t from-gray-800/80 to-gray-50/0"
          >
            <span
              class="inline-block px-4 py-2 mb-5 text-xs text-white bg-blue-500 rounded"
            >
              Project
            </span>
            <span
              class="block mb-2 text-xs font-semibold text-blue-300 uppercase"
            >
              John Doe • 6th Jun, 2022
            </span>
            <h2 class="text-xl font-bold leading-9 text-white dark:text-white">
              Lorem ipsum dolor sit amet, consectetur
            </h2>
          </div>
        </div>
      </a>
      <a
        class="mb-0 overflow-hidden bg-white rounded shadow dark:bg-gray-700"
        href="#"
      >
        <div class="relative overflow-hidden h-96">
          <img
            class="object-cover w-full h-full"
            src="https://i.postimg.cc/j5L5bX2d/pexels-andrea-piacquadio-3757946.jpg"
            alt=""
          />
          <div
            class="absolute bottom-0 left-0 right-0 z-20 p-6 -mt-12 bg-gradient-to-t from-gray-800/70 to-gray-50/0"
          >
            <span
              class="inline-block px-4 py-2 mb-5 text-xs text-white bg-blue-500 rounded"
            >
              Team
            </span>
            <span
              class="block mb-2 text-xs font-semibold text-blue-300 uppercase"
            >
              John Doe • 6th Jun, 2022
            </span>
            <h2 class="text-xl font-bold leading-9 text-white dark:text-white">
              Lorem ipsum dolor sit amet, consectetur
            </h2>
          </div>
        </div>
      </a>
      <a
        class="mb-0 overflow-hidden bg-white rounded shadow dark:bg-gray-700"
        href="#"
      >
        <div class="relative overflow-hidden h-96">
          <img
            class="object-cover w-full h-full"
            src="https://i.postimg.cc/xTy9B753/pexels-christina-morillo-1181605.jpg"
            alt=""
          />
          <div
            class="absolute bottom-0 left-0 right-0 z-20 p-6 -mt-12 bg-gradient-to-t from-gray-800/70 to-gray-50/0"
          >
            <span
              class="inline-block px-4 py-2 mb-5 text-xs text-white bg-blue-500 rounded"
            >
              Metting
            </span>
            <span
              class="block mb-2 text-xs font-semibold text-blue-300 uppercase"
            >
              John Doe • 6th Jun, 2022
            </span>
            <h2 class="text-xl font-bold leading-9 text-white dark:text-white">
              Lorem ipsum dolor sit amet, consectetur
            </h2>
          </div>
        </div>
      </a>
      <a
        class="mb-0 overflow-hidden bg-white rounded shadow dark:bg-gray-700"
        href="#"
      >
        <div class="relative overflow-hidden h-96">
          <img
            class="object-cover w-full h-full"
            src="https://i.postimg.cc/rpbTSLyM/pexels-andrea-piacquadio-3760263.jpg"
            alt=""
          />
          <div
            class="absolute bottom-0 left-0 right-0 z-20 p-6 -mt-12 bg-gradient-to-t from-gray-800/80 to-gray-50/0"
          >
            <span
              class="inline-block px-4 py-2 mb-5 text-xs text-white bg-blue-500 rounded"
            >
              Project
            </span>
            <span
              class="block mb-2 text-xs font-semibold text-blue-300 uppercase"
            >
              John Doe • 6th Jun, 2022
            </span>
            <h2 class="text-xl font-bold leading-9 text-white dark:text-white">
              Lorem ipsum dolor sit amet, consectetur
            </h2>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
<%-include("../../partials/footer.ejs")-%>
