<section class="section_gap bg-gray-50 dark:bg-gray-800">
  <div class="relative flex flex-col items-center">
    <h1 class="text-4xl font-bold leading-tight dark:text-gray-300 uppercase">
      Explore Our <span class="text-blue-600">Insights</span>
    </h1>
    <div class="flex w-24 mt-1 mb-10 overflow-hidden rounded">
      <div class="flex-1 h-2 bg-blue-200"></div>
      <div class="flex-1 h-2 bg-blue-400"></div>
      <div class="flex-1 h-2 bg-blue-600"></div>
    </div>
  </div>

  <div class="content">
    <div
      class="grid grid-cols-1 gap-4 lg:gap-8 sm:gap-4 sm:grid-cols-2 lg:grid-cols-2"
    >
      <a
        class="flex flex-wrap mb-0 overflow-hidden bg-white rounded shadow dark:bg-gray-700"
        href="/blogDetails"
      >
        <div class="relative w-full overflow-hidden lg:w-2/5 h-80">
          <img
            class="object-cover w-full h-full transition-all hover:scale-110"
            src="https://i.postimg.cc/mgQgLJ8D/pexels-emily-ranquist-1205651.jpg"
            alt=""
          />
          <span
            class="absolute px-4 py-2 text-xs text-white bg-blue-500 rounded top-4 right-4"
          >
            Education
          </span>
        </div>
        <div class="items-center self-center flex-1 p-8">
          <span
            class="block mb-2 text-xs font-semibold text-blue-700 uppercase dark:text-blue-300"
          >
            6th Jun, 2022
          </span>
          <h2
            class="mb-3 text-2xl font-bold leading-9 text-black dark:text-white"
          >
            Rope Jump is really good for your body
          </h2>
          <p class="text-base leading-7 text-gray-400">
            Keep on jumping to get the most of the jump rope exercise. It will
            help you to increase your bone density as well
          </p>
        </div>
      </a>
      <a
        class="flex flex-wrap mb-0 overflow-hidden bg-white rounded shadow dark:bg-gray-700"
        href="/blogDetails"
      >
        <div class="relative w-full overflow-hidden lg:w-2/5 h-80">
          <img
            class="object-cover w-full h-full transition-all hover:scale-110"
            src="https://i.postimg.cc/VkczV4mc/pexels-fox-1595385.jpg"
            alt=""
          />
          <span
            class="absolute px-4 py-2 text-xs text-white bg-blue-500 rounded top-4 right-4"
          >
            Project
          </span>
        </div>
        <div class="items-center self-center flex-1 p-8">
          <span
            class="block mb-2 text-xs font-semibold text-blue-700 uppercase dark:text-blue-300"
          >
            6th Jun, 2022
          </span>
          <h2
            class="mb-3 text-2xl font-bold leading-9 text-black dark:text-white"
          >
            Rope Jump is really good for your body
          </h2>
          <p class="text-base leading-7 text-gray-400">
            Keep on jumping to get the most of the jump rope exercise. It will
            help you to increase your bone density as well
          </p>
        </div>
      </a>
      <a
        class="flex flex-wrap mb-0 overflow-hidden bg-white rounded shadow dark:bg-gray-700"
        href="/blogDetails"
      >
        <div class="relative w-full overflow-hidden lg:w-2/5 h-80">
          <img
            class="object-cover w-full h-full transition-all hover:scale-110"
            src="https://i.postimg.cc/PxcjzQ29/pexels-pixabay-256455.jpg"
            alt=""
          />
          <span
            class="absolute px-4 py-2 text-xs text-white bg-blue-500 rounded top-4 right-4"
          >
            Library
          </span>
        </div>
        <div class="items-center self-center flex-1 p-8">
          <span
            class="block mb-2 text-xs font-semibold text-blue-700 uppercase dark:text-blue-300"
          >
            6th Jun, 2022
          </span>
          <h2
            class="mb-3 text-2xl font-bold leading-9 text-black dark:text-white"
          >
            Rope Jump is really good for your body
          </h2>
          <p class="text-base leading-7 text-gray-400">
            Keep on jumping to get the most of the jump rope exercise. It will
            help you to increase your bone density as well
          </p>
        </div>
      </a>
      <a
        class="flex flex-wrap mb-0 overflow-hidden bg-white rounded shadow dark:bg-gray-700"
        href="/blogDetails"
      >
        <div class="relative w-full overflow-hidden lg:w-2/5 h-80">
          <img
            class="object-cover w-full h-full transition-all hover:scale-110"
            src="https://i.postimg.cc/8kJJ8KQF/pexels-716281.jpg"
            alt=""
          />
          <span
            class="absolute px-4 py-2 text-xs text-white bg-blue-500 rounded top-4 right-4"
          >
            Presentation
          </span>
        </div>
        <div class="items-center self-center flex-1 p-8">
          <span
            class="block mb-2 text-xs font-semibold text-blue-700 uppercase dark:text-blue-300"
          >
            6th Jun, 2022
          </span>
          <h2
            class="mb-3 text-2xl font-bold leading-9 text-black dark:text-white"
          >
            Rope Jump is really good for your body
          </h2>
          <p class="text-base leading-7 text-gray-400">
            Keep on jumping to get the most of the jump rope exercise. It will
            help you to increase your bone density as well
          </p>
        </div>
      </a>
    </div>
  </div>
</section>
