<section>
  <div class="relative py-10 bg-center bg-no-repeat bg-cover" style="
      background-image: url('https://i.postimg.cc/VkczV4mc/pexels-fox-1595385.jpg');
    ">
    <div class="absolute top-0 left-0 w-full h-full bg-gray-900 bg-opacity-80"></div>
    <div class="relative z-10 px-4 py-4 mx-auto lg:py-10 md:px-7">
      <div class="max-w-4xl mx-auto text-center">
        <span class="text-lg font-bold text-blue-300 dark:text-blue-200">The new business plan</span>
        <h2 class="text-4xl font-bold tracking-wide text-gray-100 my-7 dark:text-gray-300 lg:text-6xl">
          Boost Your Business with Our Graphic Expertise.
        </h2>
        <p class="mb-10 text-base font-medium text-gray-300 dark:text-gray-400 md:text-lg md:max-w-[500px] mx-auto">
          Discover Graphics' Infinite Possibilities with Graphic View: Where
          Imagination Meets Design Excellence
        </p>

        <div class="w-fit mx-auto"><a href="#" class="btn py-4 px-6 bg-blue-600 text-white"> Learn more </a></div>

      </div>
    </div>
  </div>
</section>