<section title="Our Services" class="section_gap bg-white dark:bg-gray-800">
  <div class="px-4 py-20 mx-auto max-w-7xl">
    <div class="max-w-xl mx-auto">
      <div class="text-center ">
        <div class="relative flex flex-col items-center">
          <div class="absolute hidden md:block -top-14 left-0 text-[120px] text-gray-400 font-bold opacity-10">
            Services
          </div>
          <h1 class="text-5xl font-bold dark:text-white"> What We <span class="text-blue-500"> Offer
            </span> </h1>
          <div class="flex w-24 mt-1 mb-10 overflow-hidden rounded">
            <div class="flex-1 h-2 bg-blue-200">
            </div>
            <div class="flex-1 h-2 bg-blue-400">
            </div>
            <div class="flex-1 h-2 bg-blue-600">
            </div>
          </div>
        </div>
        <p class="mb-16 text-base text-center text-gray-500">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus magni eius eaque?
          Pariatur
          numquam, odio quod nobis ipsum ex cupiditate?
        </p>
      </div>
    </div>
    <div class="grid grid-cols-1 gap-x-4 gap-y-6 lg:gap-x-8 lg:gap-y-8 md:grid-cols-2 lg:grid-cols-3">
      <div class="w-full p-8 mb-5 text-center transition-all bg-white rounded shadow dark:bg-gray-700 hover:shadow-lg">
        <div class="mx-auto w-14 h-14 flex items-center justify-center mb-6 -mt-16 bg-green-600 text-white text-xl rounded-full text-2xl">
          <i class="fa-solid fa-eraser"></i>
        </div>
        <h3 class="mb-4 text-2xl font-semibold dark:text-white"> Background Removal </h3>
        <p class="text-base text-gray-500 dark:text-gray-400">Whether it's knock-outs, cut-outs, etching, silhouettes, or more – whatever you call it, removing backgrounds from product photos is an essential professional photo edit.
        </p>
      </div>



      <div class="w-full p-8 mb-5 text-center transition-all bg-white rounded shadow dark:bg-gray-700 hover:shadow-lg">
        <div class="mx-auto w-14 h-14 flex items-center justify-center mb-6 -mt-16 bg-green-600 text-white text-xl rounded-full">
          <i class="fa-solid fa-arrows-rotate"></i>
        </div>
        <h3 class="mb-4 text-2xl font-semibold dark:text-white"> Retouching </h3>
        <p class="text-base text-gray-500 dark:text-gray-400">
          Attain a polished appearance through prop removal, wrinkle smoothing, symmetry enhancement, and skin blemish refinement.
        </p>
      </div>


      <div class="w-full p-8 mb-5 text-center transition-all bg-white rounded shadow dark:bg-gray-700 hover:shadow-lg">
        <div class="mx-auto w-14 h-14 flex items-center justify-center mb-6 -mt-16 bg-green-600 text-white text-xl rounded-full">
          <i class="fa-solid fa-scissors"></i>
        </div>
        <h3 class="mb-4 text-2xl font-semibold dark:text-white"> Clipping Paths </h3>
        <p class="text-base text-gray-500 dark:text-gray-400">
          Prepare for future photo editing with image files you can use for text wrapping, background removal, print media, and the web.
        </p>
      </div>



      <div class="w-full p-8 mb-5 text-center transition-all bg-white rounded shadow dark:bg-gray-700 hover:shadow-lg">
        <div class="mx-auto w-14 h-14 flex items-center justify-center mb-6 -mt-16 bg-green-600 text-white text-xl rounded-full">
          <i class="fa-solid fa-fill-drip"></i>
        </div>
        <h3 class="mb-4 text-2xl font-semibold dark:text-white"> Color Match</h3>
        <p class="text-base text-gray-500 dark:text-gray-400">
          Take your product photo editing to the next level with color matching. You’ll reduce returns and meet customer expectations with accurate color!
        </p>
      </div>



      <div class="w-full p-8 mb-5 text-center transition-all bg-white rounded shadow dark:bg-gray-700 hover:shadow-lg">
        <div class="mx-auto w-14 h-14 flex items-center justify-center mb-6 -mt-16 bg-green-600 text-white text-xl rounded-full">
          <i class="fa-regular fa-eye-slash"></i>
        </div>
        <h3 class="mb-4 text-2xl font-semibold dark:text-white"> Invisible Mannequin </h3>
        <p class="text-base text-gray-500 dark:text-gray-400">
          Breathe Life into Your Products: Mannequin Removal for E-commerce Imagery.
        </p>
      </div>



      <div class="w-full p-8 mb-5 text-center transition-all bg-white rounded shadow dark:bg-gray-700 hover:shadow-lg">
        <div class="mx-auto w-14 h-14 flex items-center justify-center mb-6 -mt-16 bg-green-600 text-white text-xl rounded-full">
          <i class="fa-solid fa-hurricane"></i>
        </div>
        <h3 class="mb-4 text-2xl font-semibold dark:text-white"> Shadows </h3>
        <p class="text-base text-gray-500 dark:text-gray-400">
          Craft Depth, Perspective, and Consistency Through Skillful Shadow Techniques. Natural, Reflective, or Drop Shadows for a Professional Finish.
        </p>
      </div>


    </div>
  </div>
</section>