<section class="section_gap bg-[#E9F3E1]">
  <div class="content">
    <div class="mb-12 text-center">
      <h2>Getting Started with Visuals</h2>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-5">
      <div class="bg-white rounded-shadow px-6 py-12 flex flex-col gap-6 items-center text-center">
        <span class="text-4xl">
          <i class="fa-regular fa-share-from-square"></i>
        </span>
        <h3>Drop Your Requirements</h3>
        <p>
          Book a brief call with our product experts to discuss your retouching
          requirements.
        </p>
      </div>

      <div class="bg-white rounded-shadow px-6 py-12 flex flex-col gap-6 items-center text-center">
        <span class="text-4xl">
          <i class="fa-regular fa-share-from-square"></i>
        </span>
        <h3>Claim Your Complimentary Test Images</h3>
        <p>
          You can get your professionally edited photos for free without any
          obligation.
        </p>
      </div>

      <div class="bg-white rounded-shadow px-6 py-12 flex flex-col gap-6 items-center text-center">
        <span class="text-4xl">
          <i class="fa-regular fa-share-from-square"></i>
        </span>
        <h3>Explore Tailored Solutions</h3>
        <p>
          Our team of product specialists is here to assist you in crafting a
          personalized solution tailored to your e-commerce retouching
          requirements.
        </p>
      </div>

      <div class="bg-white rounded-shadow px-6 py-12 flex flex-col gap-6 items-center text-center">
        <span class="text-4xl">
          <i class="fa-regular fa-share-from-square"></i>
        </span>
        <h3>Reclaim Your Time</h3>
        <p>
          Partnering with Pixelz allows you to channel your focus on the
          creative side!
        </p>
      </div>
    </div>
  </div>
</section>